.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title-container {
  width: 100%;
  padding-top: 20px;
  border: 1px solid #5063f0;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  margin: 30px 0 40px 0;
  justify-content: space-between;
}

.title {
  margin-right: 10px;
  padding-left: 40px;
}

h1 {
  color: #5063f0;
  font-size: 2.8vw;
  margin: 0;
}

span {
  font-size: 15px;
}

.act-container {
  width: auto;
  margin-bottom: 20px;
  text-align: end;
  padding-right: 40px;
}

button,
select {
  padding: 10px;
  font-size: 0.8vw;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: white;
  height: 4em;
  background: none;
  -webkit-appearance: none; /* Safari и Chrome */
  -moz-appearance: none; /*  Firefox */
  appearance: none; /* др. браузеры */
}

button {
  width: 9vw;
  background-color: rgba(233, 30, 99, 1);
  margin-left: 20px;
}

select {
  width: 12vw;
  background-color: #5063f0;
}

button:hover {
  background-color: rgb(201, 26, 84);
  border: 1px solid rgb(201, 26, 84);
}

select:hover {
  background-color: #4050d0;
  border: 1px solid #4050d0;
}

button:focus,
select:focus {
  outline: none;
  transform: scale(1.05);
}

button:focus {
  border-color: rgba(233, 30, 99, 1);
  box-shadow: 0 0 5px rgba(233, 30, 99, 1);
}

select:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.clearButton {
  width: 9vw;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgba(233, 30, 99, 1);
  color: rgba(233, 30, 99, 1);
  margin-left: 20px;
}

.clearButton:hover {
  color: white;
  background-color: rgba(233, 30, 99, 1);
  border: 1px solid rgb(243, 243, 243);
}

.main-container {
  flex: 1;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.taskScreen-container {
  padding: 10px;
  color: black;
  font-size: clamp(30px, 1.6vw, 40px);
  overflow-y: auto;
}

.result-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.codeEditor-container {
  height: 80vh;
}

.resultDisplay-container {
  margin-top: 20px;
  min-height: 400px;
  overflow-y: hidden;
}

.shadow {
  border: 1px solid white;
  background-color: #ffffff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
  border-radius: 13px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 4vw;
  }

  button,
  select {
    font-size: 1.4vw;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .result-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .taskScreen-container {
    font-size: 2vw;
    overflow-y: hidden;
  }

  .result-container {
    height: 70vh;
  }

  .codeEditor-container {
    margin-bottom: 20px;
    overflow-x: hidden;
    height: 50vh;
  }

  .resultDisplay-container {
    margin-top: 0;
    min-height: 450px;
  }

  .shadow {
    border: 1px solid white;
    background-color: #ffffff;
    box-shadow: unset;
    border-radius: 13px;
  }
}

@media (max-width: 510px) {
  .title-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));
    width: 100%;
    justify-content: unset;
    height: 90px;
    margin: 30px 0 20px 0;
    padding-top: 5px;
    overflow-y: hidden;
  }

  .title {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  h1 {
    color: #5063f0;
    font-size: 5vw;
    margin: 0;
  }

  button,
  select {
    font-size: 2vw;
  }

  button,
  .clearButton {
    width: 16vw;
  }

  select {
    width: 16vw;
  }

  .act-container {
    margin-bottom: 10px;
    text-align: unset;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }

  .result-container {
    height: 70vh;
  }

  .codeEditor-container {
    margin-bottom: 20px;
    overflow-x: hidden;
    height: 40vh;
    min-height: 40vh;
  }

  .resultDisplay-container {
    margin-top: 0;
    min-height: 320px;
  }
}

@media (max-width: 390px) {
  .act-container {
    justify-content: space-evenly;
    padding: 0 5px;
  }

  button,
  select {
    font-size: 2.7vw;
  }

  button,
  .clearButton {
    width: 18vw;
  }

  select {
    width: 18vw;
  }
}
